RiyAssignADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "RiyAssignADF"
		},
		"FromAdls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'FromAdls'"
		},
		"LS_CsvToAdls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_CsvToAdls'"
		},
		"LS_S3Excle_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'LS_S3Excle'"
		},
		"LS_SqlDb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SqlDb'"
		},
		"LS_ToAdls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ToAdls'"
		},
		"LS_ToNotebook_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_ToNotebook'"
		},
		"FromAdls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://riyassignadls.dfs.core.windows.net/"
		},
		"LS_S3Excle_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAQEIP3UWSXRW3ER6D"
		},
		"LS_SqlDb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "riyaldbsrvr.database.windows.net"
		},
		"LS_SqlDb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dbAssignment1"
		},
		"LS_SqlDb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "radmin"
		},
		"LS_ToAdls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://riyassignadls.dfs.core.windows.net/"
		},
		"LS_from_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.openaq.org/v3/sensors/',string(linkedService().Sensorid),'/days')}"
		},
		"StorageAccountEvent_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/b2c51e8b-c017-4c6a-bd57-27706b269aac/resourceGroups/RiyAssignOne/providers/Microsoft.Storage/storageAccounts/riyassignadls"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ToSilver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEachSensorList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/rbp.fetr@gmail.com/ToSilver"
						},
						"linkedServiceName": {
							"referenceName": "LS_ToNotebook",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ToGold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/rbp.fetr@gmail.com/ToGold"
						},
						"linkedServiceName": {
							"referenceName": "LS_ToNotebook",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEachSensorList",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupSensorList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupSensorList').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "APItoAdls",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "MergeFiles"
											},
											"formatSettings": {
												"type": "JsonWriteSettings",
												"filePattern": "setOfObjects"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_FromAPI",
											"type": "DatasetReference",
											"parameters": {
												"SensorID": {
													"value": "@item().SensorId",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_JsonToAdls",
											"type": "DatasetReference",
											"parameters": {
												"FIleName": {
													"value": "@concat(item().SensorId,'.json')",
													"type": "Expression"
												},
												"Directory": "SensorData"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupSensorList",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DS_FromAdls",
								"type": "DatasetReference",
								"parameters": {
									"Directory": "locations",
									"fileName": "locations"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "SqlToAdls",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQLDb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSVToAdls",
								"type": "DatasetReference",
								"parameters": {
									"DirectoryName": "SensorList",
									"FileName": "SensorList.csv"
								}
							}
						]
					},
					{
						"name": "S3ToAdls",
						"type": "Copy",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_S3Excle",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSVToAdls",
								"type": "DatasetReference",
								"parameters": {
									"DirectoryName": "SmokeData",
									"FileName": "AlbertaSmokePlupm.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-04T15:25:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ToNotebook')]",
				"[concat(variables('factoryId'), '/datasets/DS_FromAdls')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDb')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSVToAdls')]",
				"[concat(variables('factoryId'), '/datasets/DS_S3Excle')]",
				"[concat(variables('factoryId'), '/datasets/DS_FromAPI')]",
				"[concat(variables('factoryId'), '/datasets/DS_JsonToAdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSVToAdls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CsvToAdls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DirectoryName": {
						"type": "String"
					},
					"FileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().DirectoryName",
							"type": "Expression"
						},
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CsvToAdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FromAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_from_api",
					"type": "LinkedServiceReference",
					"parameters": {
						"Sensorid": {
							"value": "@dataset().SensorID",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SensorID": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_from_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_FromAdls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FromAdls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Directory": {
						"type": "String"
					},
					"fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().fileName,'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": "metadata"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Id",
						"type": "String"
					},
					{
						"name": " LocationName",
						"type": "String"
					},
					{
						"name": " LocationId",
						"type": "String"
					},
					{
						"name": " SensorId\r",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FromAdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JsonToAdls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ToAdls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FIleName": {
						"type": "String"
					},
					"Directory": {
						"type": "String",
						"defaultValue": "SensorData"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FIleName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"meta": {
							"type": "object",
							"properties": {
								"name": {
									"type": "string"
								},
								"website": {
									"type": "string"
								},
								"page": {
									"type": "integer"
								},
								"limit": {
									"type": "integer"
								},
								"found": {
									"type": "string"
								}
							}
						},
						"results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"value": {
										"type": "number"
									},
									"flagInfo": {
										"type": "object",
										"properties": {
											"hasFlags": {
												"type": "boolean"
											}
										}
									},
									"parameter": {
										"type": "object",
										"properties": {
											"id": {
												"type": "integer"
											},
											"name": {
												"type": "string"
											},
											"units": {
												"type": "string"
											},
											"displayName": {
												"type": "null"
											}
										}
									},
									"period": {
										"type": "object",
										"properties": {
											"label": {
												"type": "string"
											},
											"interval": {
												"type": "string"
											},
											"datetimeFrom": {
												"type": "object",
												"properties": {
													"utc": {
														"type": "string"
													},
													"local": {
														"type": "string"
													}
												}
											},
											"datetimeTo": {
												"type": "object",
												"properties": {
													"utc": {
														"type": "string"
													},
													"local": {
														"type": "string"
													}
												}
											}
										}
									},
									"coordinates": {
										"type": "null"
									},
									"summary": {
										"type": "object",
										"properties": {
											"min": {
												"type": "number"
											},
											"q02": {
												"type": "number"
											},
											"q25": {
												"type": "number"
											},
											"median": {
												"type": "number"
											},
											"q75": {
												"type": "number"
											},
											"q98": {
												"type": "number"
											},
											"max": {
												"type": "number"
											},
											"avg": {
												"type": "number"
											},
											"sd": {
												"type": "number"
											}
										}
									},
									"coverage": {
										"type": "object",
										"properties": {
											"expectedCount": {
												"type": "integer"
											},
											"expectedInterval": {
												"type": "string"
											},
											"observedCount": {
												"type": "integer"
											},
											"observedInterval": {
												"type": "string"
											},
											"percentComplete": {
												"type": "number"
											},
											"percentCoverage": {
												"type": "number"
											},
											"datetimeFrom": {
												"type": "object",
												"properties": {
													"utc": {
														"type": "string"
													},
													"local": {
														"type": "string"
													}
												}
											},
											"datetimeTo": {
												"type": "object",
												"properties": {
													"utc": {
														"type": "string"
													},
													"local": {
														"type": "string"
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ToAdls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_S3Excle')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_S3Excle",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "222 Plume Observations",
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "bucketforriyal",
						"fileName": "Alberta_Smoke_Plume_Observation_Study.xlsx"
					},
					"firstRowAsHeader": false
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_S3Excle')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SqlDb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "latitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "longitude",
						"type": "float",
						"precision": 15
					},
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CanadaSensors"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SqlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FromAdls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('FromAdls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('FromAdls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CsvToAdls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_CsvToAdls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_S3Excle')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('LS_S3Excle_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('LS_S3Excle_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SqlDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_SqlDb_properties_typeProperties_server')]",
					"database": "[parameters('LS_SqlDb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SqlDb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SqlDb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ToAdls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ToAdls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ToAdls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ToNotebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4491958463368686.6.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_ToNotebook_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS4_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "14.1.x-scala2.12",
					"clusterOption": "Fixed",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_from_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Sensorid": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_from_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StorageAccountEvent')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/metadata/blobs/locations/",
					"blobPathEndsWith": "locations.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('StorageAccountEvent_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Canada Central",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}